body {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    overflow: clip;
}
.navbar-frontpage {
    display: flex;
    justify-content: center;
    background: rgb(6,40,62);
    background: linear-gradient(194deg, rgba(6,40,62,1) 0%, rgba(0,51,97,1) 100%);
}

.front-page-image-tilt {
    position: absolute;
    transform: skew(-30deg);
    width: 25%;
    height: 96vh;
    overflow: hidden;
}
.image-tag {
    width: 100%;
    position: absolute;
    top:30%;
    height: 40%;
}
/*
Plassering av bildene
 */
.front-page-image-tilt:first-child {
    left: 0;
}
.front-page-image-tilt:nth-child(2) {
    left: 25%;
}
.front-page-image-tilt:nth-child(3) {
    left: 50%;
}
.front-page-image-tilt:last-child {
    left: 75%;
}
.image-text {
    color: black;
    font-size: 20px;
    position: relative;
    opacity: 0;
}
/*
Overlay over bildet
*/

.text-over-image .container-text-over-image {
    text-align: center;
    position: absolute;
    top:30%;
    padding: 10%;

}


.text-over-image a {
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    transform: skew(0deg);
}
/*
* Overlay over bildet slutt
*/

/*
* Hover bilder og les mer
*/
.front-page-image-tilt:hover {
    background: black;
    z-index: 100;
    transition: 1s;
}
.front-page-image-tilt:hover:first-child{
    background: #070d21;
}
.front-page-image-tilt:hover:nth-child(3){
    background: #362D23;
}
.front-page-image-tilt:hover:nth-child(2){
    background: #120C47;
}
.front-page-image-tilt:hover:last-child{
    background: #363930;
}
.front-page-image-tilt:hover .image-text  {
    visibility: visible;
    opacity: 1;
    color:white;
    transition: 0.5s ease-in-out;
}
.front-page-image-tilt:hover .image-tag  {
    transition: 0.5s ease-in-out;
    opacity: 0.1;
}
.front-page-image-tilt:first-child a:hover {
    background: #2A3350;
}.front-page-image-tilt:nth-child(2) a:hover {
    background: #956228;
}
.front-page-image-tilt:nth-child(3) a:hover {
    background: #1C2EB7;
}
.front-page-image-tilt:last-child a:hover {
    background: #363930;
}
/*
Hover første bilde slutt
*/
