body {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    overflow: clip;
}
.navbar-frontpage {
display: flex;
    justify-content: center;
    background: rgb(6,40,62);
    background: linear-gradient(194deg, rgba(6,40,62,1) 0%, rgba(0,51,97,1) 100%);
}

.front-page-image-tilt {
    position: absolute;
    transform: skew(-30deg);
    width: 25%;
    height: 96vh;
    left:0;
    border: 1px solid black;
    overflow: hidden;

}
.image-tag {
    width: 100%;
}
.front-page-image-tilt:first-child {
    overflow: clip;
    text-align: end;
    left: 0;
    transition: 1s ease-in-out;
    background: black;
}
.front-page-image-tilt:nth-child(2) {
    background: url("images/taipan-snake.jpg");
    left: 25%;
}
.front-page-image-tilt:nth-child(3) {
    left: 50%;
}
.front-page-image-tilt:last-child {
    left: 75%;
}
.image-skew {
    display: block;
height: auto;
}
.image-text {
    color: black;
    font-size: 20px;
    position: absolute;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);

}
.text-over-image {
    position: absolute;

}
.text-over-image a {
    top: 40%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 15%;
    margin: 10px;
}
.text-over-image h2 {
    top: 30%;
}
/*
Hover first image box
*/
.front-page-image-tilt:first-child:hover {
    background: black;
    z-index: 100;
}
.front-page-image-tilt:first-child:hover .image-text  {
    visibility: visible;
    opacity: 1;
    color:white;
    transition: 1s ease-in-out;
}
.front-page-image-tilt:first-child:hover .image-tag  {
    transition: 1s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.front-page-image-tilt:first-child a:hover {
    background: pink;
}

