@keyframes picture-gallary{
    0% {
        background-image: url(images/box-jellyfish.png);
        width: 30%;
        height: 30%;
    }
    33%{
        background-image: url(images/croc.png);
        width: 30%;
        height: 70%;
    }
    66%{
        background-image: url(images/octy.png);
        width: 30%;
        height: 40%;
    }
    100%{
        background-image: url(images/box-jellyfish.png);
        width: 30%;
        height: 30%;
    }

}
