body {
    background: rgb(0,0,0);
    background: linear-gradient(130deg, rgba(0,0,0,1) 0%, rgba(0,7,20,1) 18%, rgba(9,0,20,1) 42%, rgba(23,13,0,1) 65%, rgba(14,18,0,1) 84%, rgba(13,22,0,1) 100%);
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

h2 {
    font-size: 32px;
}
/*
FLAGG
 */

#cont{
    background-color: transparent;
    padding-top: 10px;
    width: 20px;
    height: 10px;
    perspective: 1000px;
    z-index: 200;
    margin-left: 20px;
}

#inner-cont{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition:transform;
    transform-style: preserve-3d;
    transition-duration: 2s;
    transition-delay: 2s;

}

#cont:hover #inner-cont{
    transform: rotateY(-180deg);
}

#cont:hover{
    position: absolute;
    height: 50%;
    width: 50%;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
#cont:hover #flag-front {
    visibility: visible;
}
#cont:hover #flag-back {
    visibility: visible;
    transition-delay: 2s;
}

#flag-front, #flag-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
}

#flag-front{
    background: url("images/Flag-Australia.webp") no-repeat;
    background-clip: border-box;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#flag-back{
    background-color: black;
    color: aliceblue;
    transform: rotateY(180deg);
    visibility: hidden;
}



/*
 NAVIGASJON
*/
.navbar-flag {
   height: 1em;
}
.navbar-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-main {
    font-size: 20px;
    background: rgb(18,127,196);
    background: linear-gradient(194deg, rgba(18,127,196,1) 0%, rgba(0,46,55,1) 62%, rgba(0,51,97,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-main li {
    display: inline-block;
    text-align: center;
}
.navbar-main li:first-child {
    margin-left: 15px;
}
.navbar-main li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    margin: 0;
}
.navbar-main .navbar-link {
    width: 77%;
    justify-content: space-around;
}

.navbar-main li a:hover {
    background: pink;
}
.navbar-main li a:visited {
    color: white;
}
.navbar-main li a {
    color: white;
}

/*
 NAVIGASJON SLUTT
*/

.main-body {
    height: 96vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.layout-underpages {
    display: flex;
    justify-content: center;
    height: 96vh;
}

/*
RULLETEKST
 */
.scrolling-text-outer-wrapper {
    top: 10%;
    position: absolute;
    padding: 25px;
    height: 70vh;
    width: 800px;
    border: 1px solid black;
    border-radius: 10px;
    display:flex;
    overflow-wrap: break-word;
    overflow: hidden;

}
.scrolling-text-wrapper {
    position: relative;
    top: 100%;
    left: 0;
    width: 1600px;
    font-family: sans-serif;
    text-align: left;
    color: white;
    animation: 60s credits linear infinite;
    animation-delay: 1s;
}
.scrolling-text-title {
    margin-bottom: 5px;
    font-size: 20px;
}
@keyframes credits {
    0% {
        top: 100%;
    }
    100% {
        top: -200%;
    }
}
/*
RULLETEKST SLUTT
 */

/*her starter koden for hvordan fun-fact-box skal se ut*/
body{
    background-color: green;
}
.fun-fact-box {
    height: 60%;
    width: 30%;
    position: absolute;
    top: 10%;
    right: 0;
    border: solid yellow 5px;

}

.box {
    perspective: 500px;
    width: 80px;
    height: 80px;
    text-align: center;
    position: absolute;
    top:15px;
    left: 50%;
    transform: rotate3d( 1, 1, 0,-20deg);
    transform-style: preserve-3d;
    animation-name: lololol;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.side {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 4%;
    color: red;
    background: black;
    border: 2px solid white;
    font-size: 100%;
    box-sizing: border-box;
    position: absolute;

}

#box-right {
    left: 50%;
    top: 2.5%;
    height: 109%;
    transform: rotateY(90deg);
}

#box-front {
    left: 13%;
    bottom: 10%;
    transform: translateZ(85px);
}

#box-top {
    width: 109%;
    right: 1%;
    bottom: 47%;
    transform: rotateX(90deg);

}


/*her slutter koden for hvordan fun-fact-box skal se ut*/

.isonfndas {
    position: relative;
    top: 25%;
    height: 90%;
    background: black;
}
/*her starter hover for box*/

.box:hover {
    cursor: pointer;
    animation-name: stop-rotate;
}



@keyframes lololol {
    0% {
        rotate: 5deg;
    }
    25% {
        rotate: 0deg;
    }
    50% {
        rotate: -5deg;
    }
    75% {
        rotate: 0deg;
    }
    100% {
        rotate: 5deg;
    }
}

@keyframes stop-rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 0deg;
    }
}