body {
    background: rgb(20,35,196);
    background: linear-gradient(194deg, rgba(20,35,196,1) 0%, rgba(0,30,55,1) 62%, rgba(5,0,101,1) 100%);
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}
/*
 NAVIGASJON
*/
.navbar-flag {
   height: 1em;
}
.flag-image-box {
}
.navbar-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-main {
    font-size: 20px;
    background: rgb(18,127,196);
    background: linear-gradient(194deg, rgba(18,127,196,1) 0%, rgba(0,46,55,1) 62%, rgba(0,51,97,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-main li {
    display: inline-block;
    text-align: center;
}
.navbar-main li:first-child {
    margin-left: 15px;
}
.navbar-main li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    margin: 0;
}
.navbar-main .navbar-link {
    width: 77%;
    justify-content: space-around;
}

.navbar-main li a:hover {
    background: pink;
}
.navbar-main li a:visited {
    color: white;
}
.navbar-main li a {
    color: white;
}

/*
 NAVIGASJON SLUTT
*/

.main-body {
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
}