/*container-fun-fact start*/ /*alternativ: fun-fact start*/

.container-fun-fact {
    height: 60%;
    width: 30%;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    border: solid transparent 5px;
}
  
.container-for-fun-fact-box {
    border: solid 2px transparent;
    width: 20%;
    height: 20%;
    top: 1%;
    left: 40%;
    position: relative;
}

.fun-fact-box {
    perspective: 500px;
    width: 80px;
    height: 80px;
    text-align: center;
    top: 100px;
    left: 100px;
    transform: rotate3d( 1, 1, 0,-20deg);
    transform-style: preserve-3d;
    animation-name: fun-fact-box-rotate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.fun-fact-side {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 4%;
    color: yellow;
    background: rgb(0,87,255);
    background: linear-gradient(180deg, rgba(0,87,255,1) 0%, rgba(106,26,164,1) 47%, rgba(255,0,0,1) 100%);
    border: 2px solid white;
    font-size: 24px;
    box-sizing: border-box;
    position: absolute;

}

/*fun-fact-box-X-side plassering start*/

#fun-fact-box-right-side {
    left: 50%;
    top: 2.5%;
    height: 109%;
    transform: rotateY(90deg);
}

#fun-fact-box-front-side {
    left: 11%;
    bottom: 8%;
    transform: translateZ(85px);
}

#fun-fact-box-top-side {
    width: 109%;
    right: 0%;
    bottom: 47%;
    transform: rotateX(90deg);

}

/*fun-fact-box-X-side plassering slutt*/


/*her starter hover for box*/

.fun-fact-box:hover {
    cursor: pointer;
    animation-name: fun-fact-box-stop-rotate;   
}


/*animasjon av fun-fact-box start*/
@keyframes fun-fact-box-rotate {
    0% {
        rotate: (5deg);
    }
    25% {
        rotate: 0deg;
    }
    50% {
        rotate: -5deg;
    }
    75% {
        rotate: 0deg;
    }
    100% {
        rotate: 5deg;
    }
  }

  @keyframes fun-fact-box-stop-rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 0deg;
    }
  }

/*animasjon av fun-fact-box slutt*/

.container-for-fun-fact-info-drop {
    background-color: red;
    width: 90%;
    height: 75%;
    top: 25%;
    left: 5%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    background: black;
    border: 2px solid transparent;
    border-radius: 5%;
    cursor: pointer;  
}

.fun-fact-info-drop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.container-fun-fact:hover .container-for-fun-fact-info-drop{
    opacity: 0.8;
}

/* slutt container-fun-fact*/
/*alternativ: fun-fact slutt*/














